<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="{{ page.lang }}" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ page.lang }}" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/foundation.css">
  <link href="http://fonts.googleapis.com/css?family=Brawler|Quattrocento+Sans|Montserrat:700" rel="stylesheet" type="text/css">
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
 
  {{ content }}

  <!-- Call to Action -->
  <div class="cta-panel">
  <div class="row">

    <div class="large-12 columns">
      <div class="panel">
        <h4>Download the ebook!</h4>
    
        <div class="row">
          <div class="large-9 columns">
            <p>Here's a handy-dandy ebook detailing our approach to scrum for consultancies, agencies, firms, or other services vendors.</p>
          </div>
          <div class="large-3 columns">
            <a href="http://4ktch.in/1lF5wjH" class="radius button right">Read the Consultancy Scrum ebook!</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  <!-- End Call to Action -->
 
  <!-- Footer -->
 
  <footer class="footer-bottom">
    <div class="row">
    <div class="large-13 columns">
      <div class="row">
        <div class="large-12 columns">
            <p class="footer-bottom">Consultancy Scrum is a concept developed by <a href="http://fourkitchens.com">Four Kitchens</a>. <a href="mailto:shout@fourkitchens.com">Get in touch!</a></p>
            <p class="footer-bottom">All content is <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow">Creative Commons Attribution-ShareAlike 3.0</a> licensed and copyright Four Kitchens, LLC. Consultancy Scrum is a trademark of Four Kitchens, LLC.</p>
        </div>

        <!-- commenting out nav in case is needed later
        <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
        </div -->

      </div>
  </div>
  </div>
  </footer>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46820022-1', 'consultancyscrum.org');
  ga('send', 'pageview');
</script>

</body>
</html>
